/* banner section */
.banner-section {
    background-image: url(./resources/Banner\ Image.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 12px;
   
}
.banner-child {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 177px 344px 177px 344px;

}

.banner-section p {
    color: #fff;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.banner-section h1 {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}

/* all categories */
.all-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.all-categories h1 {
    color: #f00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.all-categories p {
    color: #f00;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0px;
}

.all-categories h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}

/* welcome to midnight party */
.midnight-party {
    background-image: url(./resources/Vectorrr.png);
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 60%); */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    border-radius: 16px;
    /* opacity: 0.5; */
}

.midnight-party h1 {
    color: #fff;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}

.midnight-party p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
/* place */
